<a href="https://colab.research.google.com/github/Bobojon-Py-Data-Scientist/Data-scientic/blob/main/Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indexlar

In [32]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [33]:
data = {
    'Yil':[2022, 2021, 2020, 2019,2018, 2017,2016, 2015],
    'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.5, 30.9, 30.5],
    'Temp':[1.58, 1.48,1.56, 1.32,1.25,1.47, 1.35,1.22]
    
}
df= pd.DataFrame(data)

In [34]:
df= pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'], index=[11,12,13,14,15,16,17,18]) #data ga index beriw usuli
val = [1700,1650,1500,1400,1350,1200,12500,1000]
df.YAIM = val

In [35]:
df

     Yil  Temp  Aholi soni   YAIM
11  2022  1.58        33.9   1700
12  2021  1.48        33.5   1650
13  2020  1.56        32.9   1500
14  2019  1.32        32.5   1400
15  2018  1.25        31.9   1350
16  2017  1.47        31.5   1200
17  2016  1.35        30.9  12500
18  2015  1.22        30.5   1000

In [36]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df2 =pd.DataFrame(data)

In [37]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [38]:
df.index   # bu indeks tartib raqami chiqdi

Int64Index([11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [39]:
df.columns

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [40]:
indeks = df.columns
indeks

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [41]:
'Temp'  in indeks # indeksda tempbormiyoqligi koriw

True

In [42]:
'columns'in indeks

False

In [43]:
df2 = pd.DataFrame(data, index=[2021, 2019, 2017])

In [44]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [46]:
'Argentina'  in df2.columns   # bu coumnda bormi deb sorash

False

In [47]:
2021 in df2.index

True

In [61]:
indeks[0]

'Yil'

In [63]:
indeks[1:4]

Index(['Temp', 'Aholi soni', 'YAIM'], dtype='object')

#Ozimiz uchun amaliy mashq

In [106]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8},
    'Cambodia':{2021:17.6, 2020:14.2, 2019:23.5, 2018:12.5, 2017:16.4},
    'Finland':{2020:5.54, 2019:4.45, 2017:3.12, 2016:12.6},
    'Egypt':{2021:10.78, 2020:9.87, 2019:7.35, 2018:15.23, 2017:14.78, 2016:10.56}
}
df3 =pd.DataFrame(data1)
df3

      Uzbekistan  Kazakhstan  Cambodia  Finland  Egypt
2021        33.9        18.9      17.6      NaN  10.78
2020        33.5        18.7      14.2     5.54   9.87
2019        32.9        18.5      23.5     4.45   7.35
2018        32.5        18.3      12.5      NaN  15.23
2017        31.9        18.1      16.4     3.12  14.78
2016         NaN        17.8       NaN    12.60  10.56

In [107]:
davlat_nomlari = df3.columns
davlat_nomlari

Index(['Uzbekistan', 'Kazakhstan', 'Cambodia', 'Finland', 'Egypt'], dtype='object')

In [125]:
davlat_nomlari.name= 'Davlatlar'

In [126]:
yillar = df3.index
yillar

Int64Index([2021, 2020, 2019, 2018, 2017, 2016], dtype='int64', name='Yillar')

In [127]:
df3.index.name = 'Yillar'

In [128]:
df3

Davlatlar  Uzbekistan  Kazakhstan  Cambodia  Finland  Egypt
Yillar
2021             33.9        18.9      17.6      NaN  10.78
2020             33.5        18.7      14.2     5.54   9.87
2019             32.9        18.5      23.5     4.45   7.35
2018             32.5        18.3      12.5      NaN  15.23
2017             31.9        18.1      16.4     3.12  14.78
2016              NaN        17.8       NaN    12.60  10.56

In [129]:
df3.head(3)

Davlatlar  Uzbekistan  Kazakhstan  Cambodia  Finland  Egypt
Yillar
2021             33.9        18.9      17.6      NaN  10.78
2020             33.5        18.7      14.2     5.54   9.87
2019             32.9        18.5      23.5     4.45   7.35

In [130]:
df3.max()

Davlatlar
Uzbekistan    33.90
Kazakhstan    18.90
Cambodia      23.50
Finland       12.60
Egypt         15.23
dtype: float64

In [131]:
df3.min()

Davlatlar
Uzbekistan    31.90
Kazakhstan    17.80
Cambodia      12.50
Finland        3.12
Egypt          7.35
dtype: float64

In [132]:
yillar.max()

2021

In [133]:
davlat_nomlari[2:5]

Index(['Cambodia', 'Finland', 'Egypt'], dtype='object', name='Davlatlar')

In [134]:
yillar[1:5]

Int64Index([2020, 2019, 2018, 2017], dtype='int64', name='Yillar')

In [135]:
davlat_nomlari

Index(['Uzbekistan', 'Kazakhstan', 'Cambodia', 'Finland', 'Egypt'], dtype='object', name='Davlatlar')

In [141]:
df3['Uzbekistan']

Yillar
2021    33.9
2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016     NaN
Name: Uzbekistan, dtype: float64

In [146]:
df3['Egypt']

Yillar
2021    10.78
2020     9.87
2019     7.35
2018    15.23
2017    14.78
2016    10.56
Name: Egypt, dtype: float64

In [147]:
'AQSH' in davlat_nomlari

False

In [148]:
'Kazakhstan' in davlat_nomlari

True

In [149]:
2021 in yillar

True

In [150]:
2022 in yillar

False

In [151]:
df3.iloc[0]   # indeks yillardagini chaqirib oliw uchun iloc dan foydalanamiz!!

Davlat1
Uzbekistan    33.90
Kazakhstan    18.90
Cambodia      17.60
Finland         NaN
Egypt         10.78
Name: 2021, dtype: float64

In [153]:
df3.iloc[2]

Davlat1
Uzbekistan    32.90
Kazakhstan    18.50
Cambodia      23.50
Finland        4.45
Egypt          7.35
Name: 2019, dtype: float64

In [152]:
df3.mean()

Davlat1
Uzbekistan    32.940000
Kazakhstan    18.383333
Cambodia      16.840000
Finland        6.427500
Egypt         11.428333
dtype: float64