<a href="https://colab.research.google.com/github/Bobojon-Py-Data-Scientist/Data-scientic/blob/main/Series_Metodlari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas kutubxonasi
##Series metodlari

In [19]:
import pandas as pd

In [22]:
import numpy as np
from pandas import Series , DataFrame as df

In [ ]:
cars_dict =  {'Malibu':5000, 'Lacetti':2000, 'Tesla':400, 'Honda':3200, 'Toyota':2100}

In [29]:
cars1 = Series(cars_dict, )

In [30]:
cars1

Malibu     5000
Lacetti    2000
Tesla       400
Honda      3200
Toyota     2100
dtype: int64

In [ ]:
models = ['Toyota', 'Tesla','Lacetti', 'BMW', 'Malibu','Honda', 'Jaguar', 'Daewoo']

In [31]:
cars2 = Series(cars1, index=models)

In [32]:
cars2

Toyota     2100.0
Tesla       400.0
Lacetti    2000.0
BMW           NaN
Malibu     5000.0
Honda      3200.0
Jaguar        NaN
Daewoo        NaN
dtype: float64

In [34]:
cars2.notnull()

Toyota      True
Tesla       True
Lacetti     True
BMW        False
Malibu      True
Honda       True
Jaguar     False
Daewoo     False
dtype: bool

In [35]:
cars2.isnull()

Toyota     False
Tesla      False
Lacetti    False
BMW         True
Malibu     False
Honda      False
Jaguar      True
Daewoo      True
dtype: bool

In [36]:
cars2

Toyota     2100.0
Tesla       400.0
Lacetti    2000.0
BMW           NaN
Malibu     5000.0
Honda      3200.0
Jaguar        NaN
Daewoo        NaN
dtype: float64

In [37]:
cars1

Malibu     5000
Lacetti    2000
Tesla       400
Honda      3200
Toyota     2100
dtype: int64

In [39]:
cars1+cars2

BMW            NaN
Daewoo         NaN
Honda       6400.0
Jaguar         NaN
Lacetti     4000.0
Malibu     10000.0
Tesla        800.0
Toyota      4200.0
dtype: float64

In [40]:
cars2.name = 'Avtosalon'

In [41]:
cars2.index.name = 'Modellar'

In [42]:
cars2

Modellar
Toyota     2100.0
Tesla       400.0
Lacetti    2000.0
BMW           NaN
Malibu     5000.0
Honda      3200.0
Jaguar        NaN
Daewoo        NaN
Name: Avtosalon, dtype: float64

In [45]:
cars2.hasnans # ichida NAN qiyamti bor = True , yoq= False

True

In [47]:
cars2.is_unique  # qiymatlar takrorlanmas ekanini tekwiriw

False

In [48]:
cars2.size  # Series hajmi

8

In [50]:
cars2.iloc[2] # indeks tartib raqami boyicha chaqiriw

2000.0

In [52]:
cars2.iloc[-1]

nan

In [53]:
cars2['Honda']  # malumotlarniindeks boyicha murojaat qiliw

3200.0

In [54]:
cars2.max()  # max qiymat

5000.0

In [55]:
cars2.min()   # min qiymat

400.0

In [56]:
cars2.mean()  #ortacha qiymat

2540.0