<a href="https://colab.research.google.com/github/Bobojon-Py-Data-Scientist/Data-scientic/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [5]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [11]:
df2 = pd.DataFrame(data)
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [15]:
df2.index.name ='Yillar'
df2

        Uzbekistan  Kazakhstan
Yillar
2021          33.9        18.9
2020          33.5        18.7
2019          32.9        18.5
2018          32.5        18.3
2017          31.9        18.1
2016           NaN        17.8

In [27]:
df2 = pd.DataFrame(data, index=[2021, 2019, 2017])
df2.index.name='Yillar'

In [28]:
df2

        Uzbekistan  Kazakhstan
Yillar
2021          33.9        18.9
2019          32.9        18.5
2017          31.9        18.1

In [29]:
df2.T

Yillar      2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [24]:
arr = df2.values

In [25]:
arr

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])

In [26]:
type(arr)

numpy.ndarray